<?php include ('header.php'); ?>
        <h1>Novo Produto</h1>
    </div>
    <div class="col-md-6 center-block">
        <form class="pure-form" method="post" action="/produto/new">
            <div class="form-group">
                <label for="prod_nome">Nome Produto</label>
                <input name="prod_nome" id="prod_nome" type="text" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="prod_quant">Quantidade</label>
                <input name="prod_quant" id="prod_quant" type="text" class="form-control" />
            </div>


            <div class="form-group">
                <label for="prod_valor">Valor</label>
                <input name="prod_valor" id="prod_valor" type="text" class="form-control" />
            </div>
                      
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success">Adicionar</button>
            </div>
        </form>
    </div>

<?php include ('footer.php'); ?>
