<?php include ('header.php'); ?>
        <h1>Atualizar Produto</h1>
    </div>
    <div class="col-md-6 center-block">
        <form class="pure-form" method="post" action="/produto/update/<?=$produto->getId()?>">
            <div class="form-group">
                <label for="prod_nome">Nome Produto</label>
                <input name="prod_nome" id="prod_nome" type="text" class="form-control" required value="<?=$produto->getNome()?>" />
            </div>

            <div class="form-group">
                <label for="prod_quant">Quantidade</label>
                <input name="prod_quant" id="prod_quant" type="text" class="form-control" value="<?=$produto->getQuant()?>" />
            </div>

            <div class="form-group">
                <label for="prod_valor">Valor</label>
                <input name="prod_valor" id="prod_valor" type="text" class="form-control" required value="<?=$produto->getValor()?>" />
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success">Atualizar</button>
            </div>
        </form>

    </div>

<?php include ('footer.php'); ?>