<?php include ('header.php'); ?>
        <h1>Detalhe Produtos</h1>
    </div>

    <div class="col-md-12 center-block">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Detalhes do Produto</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <p><strong>Nome Produto:</strong> <?=$produto->getNome()?></p>
                </div>

                <div class="col-md-4">
                    <p><strong>Quantidade:</strong> <?=$produto->getQuant()?></p>
                </div>

                <div class="col-md-4">
                    <p><strong>Valor Produto:</strong> <?=$produto->getValor()?></p>
                </div>

                <div class="col-md-4">
                    <a href="/produto/edit/<?=$produto->getId() ?>" >             
                        <button type="button" class="btn btn-sm btn-info">Editar</button>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="<?=$router->pathFor('produto-delete', ['id' =>  $produto->getId()])?>" >
                        <button type="button" class="btn btn-sm btn-danger">Excluir</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

<?php include ('footer.php'); ?>