<?php include ('header.php'); ?>
        <h1>Todos os Produtos</h1>
    </div>

    <?php
        if($data['produto'] && is_array($data['produto'])):
    ?>

    <div class="panel panel-default">
        <div class="panel-heading">Visualizar todos os Produtos</div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome Produto</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                </tr>
            </thead>

            <tbody>
            <?php foreach($data['produto'] as $produto) : ?>

                <tr>
                    <td><?=$produto->getId() ?></td>
                    <td><?=$produto->getNome() ?></td>
                    <td><?=$produto->getQuant() ?></td>
                    <td><?=$produto->getValor() ?></td>
                    <td>
                        <a href="<?=$router->pathFor('produto-detail', ['id' => $produto->getId()])?>" >
                            <button type="button" class="btn btn-xs btn-warning">Comprar</button>
                        </a>
                        <a href="<?=$router->pathFor('produto-detail', ['id' => $produto->getId()])?>">
                            <button type="button" class="btn btn-xs btn-success">Visualizar</button>
                        </a>
                        <a href="/produto/edit/<?=$produto->getId() ?>">
                            <button type="button" class="btn btn-xs btn-info">Editar</button>
                        </a>
                        <a href="<?=$router->pathFor('produto-delete', ['id' => $produto->getId()])?>" >
                            <button type="button" class="btn btn-xs btn-danger">Excluir</button>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>

        </table>
    </div>

    <?php else: ?>
        <div class="alert alert-danger" role="alert">Não ha Produtos</div>
    <?php endif; ?>

<?php include ('footer.php'); ?>
